<section class="gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 3rem;">
            <div class="card-body p-5 text-center">
  
                <div class="mb-md-5 mt-md-4 pb-5">
  
                <div class="text-center">
                  <h1 class="texto">Cadastro</h1><br><br>
                </div>
         
                <div class="mb-4">
                  <label for="Nome"></label>
                  <input [(ngModel)]="name" type="text" placeholder="nome">
                </div>
  
                <div class="mb-4">
                  <label for="Telefone"></label>
                  <input [(ngModel)]="telefone" type="text" placeholder="telefone">
                </div>
  
                  <button class="btn btn-outline-light btn-lg" (click)="adicionar()">Cadastrar</button>
                  <button class="btn btn-outline-light btn-lg"(click)="list()">Listar</button>
                  <button class="btn btn-outline-light btn-lg" (click)="delete()">Deletar</button><br><br>
  
              </div>

              <div *ngFor="let user of users">
                <p> <b>{{user.name}}</b> {{user.telefone}} </p>     
              </div>  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>